[Unit]
Description=xray Service
After=network.target
Wants=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/xray/
ExecStart=/usr/local/xray/xray

[Install]
WantedBy=multi-user.target